#subtitle
{
    width: 600px;
    text-align: center;
    color:darkolivegreen;
    font-size: 15px;
    font-weight: bold;
}
#mainStage
{
    height: 600px;
    width: 600px;
    background-color: white;
    position: relative;
    border: 5px solid slategray;
}
h1
{
    width: 576px;
    text-align: center;
    color: cadetblue;
}

#darkness
{
    position: absolute;
    background-color: transparent;
}

#fg
{
    position: absolute;
    background-color: transparent;
}

#ui
{
    top: 0px;
    position: absolute;
    background-color: transparent;
}